.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Edit {
    color:#e7e7e7;
}

.Delete {
    color: #944317;
}

.GoBack {
    color:#515BD4;
}