.Card {
 	 position: relative;
   /* flex: 1 0 15rem;*/
 

      width: 200px;
      height:170px;
     margin:10px;
    color: #fff;
    cursor: pointer;
    
 
}


.Card:hover .Info,
.Card:focus .Info {
 display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.Info {
	display: none;
	text-align: center;
}

img {
	  width: 100%;
    height: 100%;
    object-fit: cover;

}



@media screen and (max-width: 800px) {
   .Card {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .Card {
      flex: 100%;
      max-width: 100%;
      height:200px;
   }
   }